.z-switch {
    --z-switch-on-color: var(--z-color-primary);
    --z-switch-off-color: var(--z-border-color);
    --z-switch-on-border-color: var(--z-color-primary);
    --z-switch-off-border-color: var(--z-border-color);
  }
  
  .z-switch {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    .z-swtich__input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0;
      &:focus-visible {
        & ~ .z-switch__core {
          outline: 2px solid var(--z-switch-on-color);
          outline-offset: 1px;
        }
      }
    }
    &.is-disabled {
      opacity: .6;
      .z-switch__core {
        cursor: not-allowed;
      }
    }
    &.is-checked {
      .z-switch__core {
        border-color:var(--z-switch-on-border-color);
        background-color: var(--z-switch-on-color);
        .z-switch__core-action {
          left: calc(100% - 17px);
        }
        .z-switch__core-inner {
          padding: 0 18px 0 4px;
        }
      }
    }
  }
  .z-switch--large {
    font-size: 14px;
    line-height: 24px;
    height: 40px;
    .z-switch__core {
      min-width: 50px;
      height: 24px;
      border-radius: 12px;
      .z-switch__core-action {
        width: 20px;
        height: 20px;
      }
    }
    &.is-checked {
      .z-switch__core .z-switch__core-action {
        left: calc(100% - 21px);
        color: var(--z-switch-on-color);
      }
    }
  }
  .z-switch--small {
    font-size: 12px;
    line-height: 16px;
    height: 24px;
    .z-switch__core {
      min-width: 30px;
      height: 16px;
      border-radius: 8px;
      .z-switch__core-action {
        width: 12px;
        height: 12px;
      }
    }
    &.is-checked {
      .z-switch__core .z-switch-core-action {
        left: calc(100% - 13px);
        color: var(--z-switch-on-color);
      }
    }
  }
  .z-switch__core {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 20px;
    min-width: 40px;
    border: 1px solid var(--z-switch-off-border-color);
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    background: var(--z-switch-off-color);
    cursor: pointer;
    transition: border-color var(--z-transition-duration),background-color var(--z-transition-duration);
    .z-switch__core-action {
      position: absolute;
      left: 1px;
      border-radius: var(--z-border-radius-circle);
      width: 16px;
      height: 16px;
      background-color: var(--z-color-white);
      transition: all var(--z-transition-duration);
    }
    .z-switch__core-inner {
      width: 100%;
      transition: all var(--z-transition-duration);
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding: 0 4px 0 18px;
      .z-switch__core-inner-text {
        font-size: 12px;
        color: var(--z-color-white);
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }